In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# Files to Load 
income2017_to_load = "Resources/income_2017.csv"
income2016_to_load = "Resources/income_2016.csv"


# Read the Income Data
income2017_df = pd.read_csv(income2017_to_load)
income2016_df = pd.read_csv(income2016_to_load)

In [2]:
# Combine the data into a single dataset
merged_df = pd.merge(income2017_df, income2016_df, how="left", on=["GEO_ID", "GEO_ID"])

# Display the data table for preview
merged_df.head(5)

,GEO_ID,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999",...,"Households!!Estimate!!$15,000 to $24,999","Households!!Estimate!!$25,000 to $34,999","Households!!Estimate!!$35,000 to $49,999","Households!!Estimate!!$50,000 to $74,999","Households!!Estimate!!$75,000 to $99,999","Households!!Estimate!!$100,000 to $149,999","Households!!Estimate!!$150,000 to $199,999","Households!!Estimate!!$200,000 or more",Households!!Estimate!!Median income (dollars),Households!!Estimate!!Mean income (dollars)
0,1400000US08031000102,1592,3.6,2.8,8.3,10.1,4.6,16.8,10.7,19.8,...,6.7,8.3,6.1,16.8,11.1,23.5,9.1,10.7,82917,101053
1,1400000US08031000201,1602,6.3,8.7,8.4,8.2,17.5,17.6,13.2,15.9,...,8.1,7.1,18.9,18.6,12.2,14.5,1.8,2.4,49342,68494
2,1400000US08031000202,1709,19.4,4,7.2,10.1,6.1,18.7,13.4,15.4,...,8.9,9.1,7.1,17.6,14.9,13.5,3.2,3.8,52453,68191
3,1400000US08031000301,2746,9,1.8,6.1,5.9,11,19.7,9.5,15.8,...,6.5,10.4,10.3,19.6,9.2,18.1,8.6,8,61658,88226
4,1400000US08031000302,2088,0,5.1,3.6,7.5,14.3,11.5,15.4,21.1,...,4.4,7.4,16.7,14.8,12.6,17.9,11.9,9.8,79405,113807

In [3]:
# Export the CSV
merged_df.to_csv('income_1716.csv', index = False)