In [35]:
# Import dependencies
import pandas as pd
from functools import reduce

In [36]:
# Load in CSV as a DataFrame
income_df = pd.read_csv('Resources/ACSST5Y2017_income_data.csv')
income_df.head(10)

,GEO_ID,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households MOE!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households MOE!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households MOE!!Total!!$15,000 to $24,999",...,Estimate!!Nonfamily households!!Median income (dollars),Margin of Error!!Nonfamily households MOE!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households MOE!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1592,93,3.6,2.4,2.8,2.1,8.3,4.4,...,57788,17278,80289,15494,(X),(X),(X),(X),30.8,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1602,70,6.3,3.6,8.7,4.4,8.4,4.8,...,38917,7197,48658,7957,(X),(X),(X),(X),35.2,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1709,97,19.4,6.3,4,2.1,7.2,3.2,...,27250,5951,51646,14124,(X),(X),(X),(X),27.1,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2746,163,9,4.7,1.8,1.4,6.1,3.8,...,53811,13584,71054,15010,(X),(X),(X),(X),29.7,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",2088,115,0,1.5,5.1,4.8,3.6,2.6,...,77460,12808,129612,46351,(X),(X),(X),(X),22.4,(X)
5,1400000US08031000303,"Census Tract 3.03, Denver County, Colorado",2174,173,3.3,3.5,3.7,2.6,4.8,2.4,...,67411,26336,109536,29033,(X),(X),(X),(X),25.3,(X)
6,1400000US08031000401,"Census Tract 4.01, Denver County, Colorado",1414,89,8.8,4.7,3.5,3.2,7.4,4.5,...,56510,31279,69718,10639,(X),(X),(X),(X),28.3,(X)
7,1400000US08031000402,"Census Tract 4.02, Denver County, Colorado",2949,206,6.1,4.6,5.2,3.6,8.9,4.5,...,74232,9381,88746,13445,(X),(X),(X),(X),25.8,(X)
8,1400000US08031000501,"Census Tract 5.01, Denver County, Colorado",972,53,6.2,4.9,1.1,1.3,3.9,2.6,...,60938,37407,85820,19914,(X),(X),(X),(X),34.5,(X)
9,1400000US08031000502,"Census Tract 5.02, Denver County, Colorado",2770,130,15.1,6.2,11.1,4.8,5.5,3.6,...,37472,12004,83406,27205,(X),(X),(X),(X),31.4,(X)

In [37]:
# Drop null values
income_df.dropna()

,GEO_ID,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households MOE!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households MOE!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households MOE!!Total!!$15,000 to $24,999",...,Estimate!!Nonfamily households!!Median income (dollars),Margin of Error!!Nonfamily households MOE!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households MOE!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1592,93,3.6,2.4,2.8,2.1,8.3,4.4,...,57788,17278,80289,15494,(X),(X),(X),(X),30.8,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1602,70,6.3,3.6,8.7,4.4,8.4,4.8,...,38917,7197,48658,7957,(X),(X),(X),(X),35.2,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1709,97,19.4,6.3,4,2.1,7.2,3.2,...,27250,5951,51646,14124,(X),(X),(X),(X),27.1,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2746,163,9,4.7,1.8,1.4,6.1,3.8,...,53811,13584,71054,15010,(X),(X),(X),(X),29.7,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",2088,115,0,1.5,5.1,4.8,3.6,2.6,...,77460,12808,129612,46351,(X),(X),(X),(X),22.4,(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1400000US08031015500,"Census Tract 155, Denver County, Colorado",1830,85,5.5,3.8,3.3,2.5,8.8,3.9,...,43542,5201,54081,7797,(X),(X),(X),(X),33.7,(X)
140,1400000US08031015600,"Census Tract 156, Denver County, Colorado",2348,107,21.4,7.4,4.3,3.4,13.7,7,...,25108,15913,36631,11957,(X),(X),(X),(X),40.9,(X)
141,1400000US08031015700,"Census Tract 157, Denver County, Colorado",2157,108,14.3,6.4,2.5,3.1,8,5.1,...,35494,11460,39097,6937,(X),(X),(X),(X),16.4,(X)
142,1400000US08031980000,"Census Tract 9800, Denver County, Colorado",600,55,0.8,1.2,12.3,8.7,2.7,2.8,...,41818,9673,45897,8286,(X),(X),(X),(X),26.7,(X)
143,1400000US08031980100,"Census Tract 9801, Denver County, Colorado",0,12,-,**,-,**,-,**,...,-,**,-,**,(X),(X),(X),(X),-,(X)

In [38]:
# Keep columns: income less than 50K
income_df50  = income_df.filter(['GEO_ID','Estimate!!Households!!Total','Estimate!!Households!!Total!!Less than $10,000', 'Estimate!!Households!!Total!!$10,000 to $14,999','Estimate!!Households!!Total!!$15,000 to $24,999', 'Estimate!!Households!!Total!!$25,000 to $29,999', 'Estimate!!Households!!Total!!$30,000 to $34,999', 'Estimate!!Households!!Total!!$35,000 to $39,999', 'Estimate!!Households!!Total!!$40,000 to $44,999', 'Estimate!!Households!!Total!!$45,000 to $49,999'])
income_df50.head()

,GEO_ID,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999"
0,1400000US08031000102,1592,3.6,2.8,8.3
1,1400000US08031000201,1602,6.3,8.7,8.4
2,1400000US08031000202,1709,19.4,4,7.2
3,1400000US08031000301,2746,9,1.8,6.1
4,1400000US08031000302,2088,0,5.1,3.6

In [39]:
# Keep columns: income greater than 50K, less than 75K
income_df75  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$50,000 to $74,999'])
income_df75

                   GEO_ID Estimate!!Households!!Total!!$50,000 to $74,999
0    1400000US08031000102                                            16.8
1    1400000US08031000201                                            17.6
2    1400000US08031000202                                            18.7
3    1400000US08031000301                                            19.7
4    1400000US08031000302                                            11.5
..                    ...                                             ...
139  1400000US08031015500                                            25.1
140  1400000US08031015600                                            18.5
141  1400000US08031015700                                            19.2
142  1400000US08031980000                                            34.7
143  1400000US08031980100                                               -

[144 rows x 2 columns]

In [40]:
# Keep columns: income greater than 75K, less than 100K
income_df_greaterthan75  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$75,000 to $99,999'])
income_df_greaterthan75

                   GEO_ID Estimate!!Households!!Total!!$75,000 to $99,999
0    1400000US08031000102                                            10.7
1    1400000US08031000201                                            13.2
2    1400000US08031000202                                            13.4
3    1400000US08031000301                                             9.5
4    1400000US08031000302                                            15.4
..                    ...                                             ...
139  1400000US08031015500                                            14.6
140  1400000US08031015600                                             8.3
141  1400000US08031015700                                               5
142  1400000US08031980000                                            10.2
143  1400000US08031980100                                               -

[144 rows x 2 columns]

In [41]:
# Keep columns: income greater than 100K, less than 150K
income_df_greaterthan100  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$100,000 to $149,999'])
income_df_greaterthan100

                   GEO_ID Estimate!!Households!!Total!!$100,000 to $149,999
0    1400000US08031000102                                              19.8
1    1400000US08031000201                                              15.9
2    1400000US08031000202                                              15.4
3    1400000US08031000301                                              15.8
4    1400000US08031000302                                              21.1
..                    ...                                               ...
139  1400000US08031015500                                               7.8
140  1400000US08031015600                                               7.5
141  1400000US08031015700                                              15.5
142  1400000US08031980000                                              10.7
143  1400000US08031980100                                                 -

[144 rows x 2 columns]

In [42]:
# Keep columns: income greater than 150K, less than 200K
income_df_greaterthan150  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$150,000 to $199,999'])
income_df_greaterthan150

                   GEO_ID Estimate!!Households!!Total!!$150,000 to $199,999
0    1400000US08031000102                                              11.6
1    1400000US08031000201                                               1.6
2    1400000US08031000202                                               2.6
3    1400000US08031000301                                              11.4
4    1400000US08031000302                                               9.7
..                    ...                                               ...
139  1400000US08031015500                                                 1
140  1400000US08031015600                                               3.1
141  1400000US08031015700                                               3.2
142  1400000US08031980000                                                 0
143  1400000US08031980100                                                 -

[144 rows x 2 columns]

In [43]:
# Keep columns: income greater than 200K
income_df_greaterthan200  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$200,000 or more'])
income_df_greaterthan200

                   GEO_ID Estimate!!Households!!Total!!$200,000 or more
0    1400000US08031000102                                          11.7
1    1400000US08031000201                                           2.5
2    1400000US08031000202                                             3
3    1400000US08031000301                                           9.9
4    1400000US08031000302                                          11.9
..                    ...                                           ...
139  1400000US08031015500                                           1.4
140  1400000US08031015600                                           1.5
141  1400000US08031015700                                           2.5
142  1400000US08031980000                                           1.3
143  1400000US08031980100                                             -

[144 rows x 2 columns]

In [46]:
dfs = [income_df50, income_df75, income_df_greaterthan75, income_df_greaterthan100, income_df_greaterthan150, income_df_greaterthan200]
income_df = reduce(lambda left,right: pd.merge(left,right,on=['GEO_ID'],
                                            how='outer'), dfs)
income_df.head()

,GEO_ID,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more"
0,1400000US08031000102,1592,3.6,2.8,8.3,16.8,10.7,19.8,11.6,11.7
1,1400000US08031000201,1602,6.3,8.7,8.4,17.6,13.2,15.9,1.6,2.5
2,1400000US08031000202,1709,19.4,4,7.2,18.7,13.4,15.4,2.6,3
3,1400000US08031000301,2746,9,1.8,6.1,19.7,9.5,15.8,11.4,9.9
4,1400000US08031000302,2088,0,5.1,3.6,11.5,15.4,21.1,9.7,11.9

In [47]:
# Export the CSV
income_df.to_csv('income_2017.csv', index = False)