In [1]:
# Dependencies and Setup
import pandas as pd


# Files to Load 
income2015_to_load = "Resources/income_2015.csv"
income2014_to_load = "Resources/income_2014.csv"
income2016_to_load = "Resources/income_2016.csv"
income2017_to_load = "Resources/income_2017.csv"
income2018_to_load = "Resources/income_2018.csv"

# Read the Income Data
income2015_df = pd.read_csv(income2015_to_load)
income2014_df = pd.read_csv(income2014_to_load)
income2016_df = pd.read_csv(income2016_to_load)
income2017_df = pd.read_csv(income2017_to_load)
income2018_df = pd.read_csv(income2018_to_load)

In [2]:
R1415_df=pd.concat([income2015_df, income2014_df])
R141516_df=pd.concat([R1415_df, income2016_df])
R14151617_df=pd.concat([R141516_df, income2017_df])
R1415161718_df=pd.concat([R14151617_df, income2018_df])
R1415161718_df

,GEO_ID,Total Households,"Household income less than $10,000","Household income $10,000 to $14,999","Household income $15,000 to $24,999","Household income $25,000 to $34,999","Household income $35,000 to $49,999","Household income $50,000 to $74,999","Household income $75,000 to $99,999","Household income $100,000 to $149,999","Household income $150,000 to $199,999","Household income $200,000 or more",Household Median income (dollars),Household Mean income (dollars),Household (% Allocated) Household income in the past 12 months
0,1400000US08031000102,1584,5.6,2.3,8.6,8.3,6.3,24.2,11.7,19.3,6,7.7,70638,86462,26.9
1,1400000US08031000201,1531,7.8,7.3,9.9,6.4,21.6,15.1,14.5,12.5,2.9,2,47969,61640,27.4
2,1400000US08031000202,1676,17.1,5.6,8.8,8.2,8.1,14.3,16.3,15.1,2.6,3.9,52102,70882,21.3
3,1400000US08031000301,2660,7.6,4.5,6.8,10.8,13.2,15.7,7.3,19.2,5.9,9.1,61603,85026,24.9
4,1400000US08031000302,2026,0,4.6,3.7,9,16.7,13.3,12.7,20,11.2,8.8,82885,102986,21.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1400000US08031015500,1843,5,2.2,7.2,18.3,15.1,21.8,18.2,8.6,2.2,1.3,52057,62033,28.3
140,1400000US08031015600,2407,17.9,5,7.8,10.1,16.4,19.1,7.6,10.5,2.5,3.1,44816,60435,35.5
141,1400000US08031015700,2187,12.3,7.5,9.1,9.8,16.6,18.2,4.9,12.8,7.2,1.6,46959,61974,31
142,1400000US08031980000,636,0,7.1,9.4,6.9,18.4,29.6,15.3,11.9,0,1.4,54592,59537,25.6
143,1400000US08031980100,0,-,-,-,-,-,-,-,-,-,-,-,-,-

In [3]:
# Drop null values
R1415161718_df.dropna()
R1415161718_df

,GEO_ID,Total Households,"Household income less than $10,000","Household income $10,000 to $14,999","Household income $15,000 to $24,999","Household income $25,000 to $34,999","Household income $35,000 to $49,999","Household income $50,000 to $74,999","Household income $75,000 to $99,999","Household income $100,000 to $149,999","Household income $150,000 to $199,999","Household income $200,000 or more",Household Median income (dollars),Household Mean income (dollars),Household (% Allocated) Household income in the past 12 months
0,1400000US08031000102,1584,5.6,2.3,8.6,8.3,6.3,24.2,11.7,19.3,6,7.7,70638,86462,26.9
1,1400000US08031000201,1531,7.8,7.3,9.9,6.4,21.6,15.1,14.5,12.5,2.9,2,47969,61640,27.4
2,1400000US08031000202,1676,17.1,5.6,8.8,8.2,8.1,14.3,16.3,15.1,2.6,3.9,52102,70882,21.3
3,1400000US08031000301,2660,7.6,4.5,6.8,10.8,13.2,15.7,7.3,19.2,5.9,9.1,61603,85026,24.9
4,1400000US08031000302,2026,0,4.6,3.7,9,16.7,13.3,12.7,20,11.2,8.8,82885,102986,21.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1400000US08031015500,1843,5,2.2,7.2,18.3,15.1,21.8,18.2,8.6,2.2,1.3,52057,62033,28.3
140,1400000US08031015600,2407,17.9,5,7.8,10.1,16.4,19.1,7.6,10.5,2.5,3.1,44816,60435,35.5
141,1400000US08031015700,2187,12.3,7.5,9.1,9.8,16.6,18.2,4.9,12.8,7.2,1.6,46959,61974,31
142,1400000US08031980000,636,0,7.1,9.4,6.9,18.4,29.6,15.3,11.9,0,1.4,54592,59537,25.6
143,1400000US08031980100,0,-,-,-,-,-,-,-,-,-,-,-,-,-

In [4]:
# Export the CSV
R1415161718_df.to_csv('income_final.csv', index = False)