<a href="https://colab.research.google.com/github/LinzStearns/CO_real_estate/blob/main/ML_Model_LogReg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Load in CSV from Postgres database as a DataFrame
df = pd.read_csv('/content/clean_housing_afford.csv')
df.head()

       SCHEDNUM SITUS_CITY  ... COST BY MONTH  AFFORDABLE_OR_NOT
0  2.330000e+11     DENVER  ...   4166.666667                  0
1  5.120000e+11     DENVER  ...   4166.666667                  0
2  5.130000e+11     DENVER  ...   4166.666667                  0
3  5.120000e+11     DENVER  ...   4166.666667                  0
4  2.330000e+11     DENVER  ...   4166.666667                  0

[5 rows x 10 columns]

In [ ]:
# Data preprocessing - removing unnecessary columns in preparation for LogReg model
new_df = df.drop(['SITUS_CITY', 'SITUS_STATE', 'D_CLASS_CN', 'SCHEDNUM'], axis=1)
new_df.head(10)

   APPRAISED_TOTAL_VALUE  SALE_YEAR  ...  COST BY MONTH  AFFORDABLE_OR_NOT
0                1621400       2019  ...    4166.666667                  0
1                1350500       2018  ...    4166.666667                  0
2                1258600       2021  ...    4166.666667                  0
3                1616000       2020  ...    4166.666667                  0
4                1357100       2021  ...    4166.666667                  0
5                1226900       2021  ...    4166.666667                  0
6                1209400       2021  ...    4166.666667                  0
7                1621400       2019  ...    4166.666667                  0
8                1350500       2018  ...    4166.666667                  0
9                1258600       2021  ...    4166.666667                  0

[10 rows x 6 columns]

In [ ]:
# Identifying the target (AFFORDABLE_OR_NOT) and setting the features (X)
y = new_df["AFFORDABLE_OR_NOT"]
X = new_df.drop(columns="AFFORDABLE_OR_NOT")

In [ ]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [ ]:
# Data preprocessing - scale the data

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 1.000