In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\03113044710933800683\appdata\local\programs\python\python37\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\03113044710933800683\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\03113044710933800683\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\03113044710933800683\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\03113044710933800683\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
from pathlib import Path

In [5]:
median_list_price_df = pd.read_csv('../Resources_LS/MEDLISPRI19740.csv')
print(median_list_price_df)

          DATE  MEDLISPRI19740
0   2016-07-01        495000.0
1   2016-08-01        490000.0
2   2016-09-01        489450.0
3   2016-10-01        489000.0
4   2016-11-01        497000.0
..         ...             ...
62  2021-09-01        600000.0
63  2021-10-01        620000.0
64  2021-11-01        622135.0
65  2021-12-01        629950.0
66  2022-01-01        639900.0

[67 rows x 2 columns]

In [7]:
print(median_list_price_df.columns)

Index(['DATE', 'MEDLISPRI19740'], dtype='object')

In [9]:
median_list_price_df.isnull()

     DATE  MEDLISPRI19740
0   False           False
1   False           False
2   False           False
3   False           False
4   False           False
..    ...             ...
62  False           False
63  False           False
64  False           False
65  False           False
66  False           False

[67 rows x 2 columns]

In [10]:
median_list_price_df.dtypes

DATE               object
MEDLISPRI19740    float64
dtype: object

In [11]:
cleaned_med_price_df = median_list_price_df.rename(columns={"DATE":"Date",
                                    "MEDLISPRI19740":"Median List Price"})

In [12]:
cleaned_med_price_df.head()

         Date  Median List Price
0  2016-07-01           495000.0
1  2016-08-01           490000.0
2  2016-09-01           489450.0
3  2016-10-01           489000.0
4  2016-11-01           497000.0

In [13]:
cleaned_med_price_df.count()

Date                 67
Median List Price    67
dtype: int64

In [16]:
cleaned_med_price_df["Median List Price"].round().astype(int)

0     495000
1     490000
2     489450
3     489000
4     497000
       ...
62    600000
63    620000
64    622135
65    629950
66    639900
Name: Median List Price, Length: 67, dtype: int32

In [19]:
# Saving cleaned data
filepath = Path('Resources_LS/Data/Median_List_Price_clean.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
cleaned_med_price_df.to_csv(filepath)