In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Load in CSV as a DataFrame
income_df = pd.read_csv('Resources/ACSST5Y2018_income_data.csv')
income_df.head(10)

,GEO_ID,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households MOE!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households MOE!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households MOE!!Total!!$15,000 to $24,999",...,Estimate!!Nonfamily households!!Median income (dollars),Margin of Error!!Nonfamily households MOE!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households MOE!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1613,79,5.6,3.7,2.7,1.9,8.4,4,...,60368,13516,86644,17978,(X),(X),(X),(X),31.6,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1618,86,4.6,3.2,9.4,5,10.4,4.8,...,39167,12212,51177,8355,(X),(X),(X),(X),33.9,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1737,79,17.9,6,4.7,3.9,5.1,3.7,...,32695,9026,61242,14203,(X),(X),(X),(X),27.1,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2856,106,9.3,4.4,2.1,1.9,5.2,4.6,...,47500,15890,67413,13719,(X),(X),(X),(X),36.7,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",2131,89,0.9,1.4,1.7,2,2.8,2.6,...,74932,12184,131447,47643,(X),(X),(X),(X),28,(X)
5,1400000US08031000303,"Census Tract 3.03, Denver County, Colorado",2160,191,3.4,3.5,2.7,2.3,5.3,2.9,...,68065,18907,101258,21277,(X),(X),(X),(X),25.1,(X)
6,1400000US08031000401,"Census Tract 4.01, Denver County, Colorado",1464,75,7.5,4.9,6.1,4.1,6.6,4.3,...,56818,31038,71625,11307,(X),(X),(X),(X),33,(X)
7,1400000US08031000402,"Census Tract 4.02, Denver County, Colorado",2984,209,4,2.9,4,3.3,9.5,4.7,...,79659,10303,98214,14417,(X),(X),(X),(X),28.8,(X)
8,1400000US08031000501,"Census Tract 5.01, Denver County, Colorado",959,61,3.2,3.7,0.6,1,5.2,3,...,74464,30530,93625,19674,(X),(X),(X),(X),28.1,(X)
9,1400000US08031000502,"Census Tract 5.02, Denver County, Colorado",2773,161,12.6,6.2,9.1,5.2,7.6,4.7,...,46667,23938,95852,29185,(X),(X),(X),(X),28.1,(X)

In [3]:
# Drop null values
income_df.dropna()

,GEO_ID,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households MOE!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households MOE!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households MOE!!Total!!$15,000 to $24,999",...,Estimate!!Nonfamily households!!Median income (dollars),Margin of Error!!Nonfamily households MOE!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households MOE!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households MOE!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,1400000US08031000102,"Census Tract 1.02, Denver County, Colorado",1613,79,5.6,3.7,2.7,1.9,8.4,4,...,60368,13516,86644,17978,(X),(X),(X),(X),31.6,(X)
1,1400000US08031000201,"Census Tract 2.01, Denver County, Colorado",1618,86,4.6,3.2,9.4,5,10.4,4.8,...,39167,12212,51177,8355,(X),(X),(X),(X),33.9,(X)
2,1400000US08031000202,"Census Tract 2.02, Denver County, Colorado",1737,79,17.9,6,4.7,3.9,5.1,3.7,...,32695,9026,61242,14203,(X),(X),(X),(X),27.1,(X)
3,1400000US08031000301,"Census Tract 3.01, Denver County, Colorado",2856,106,9.3,4.4,2.1,1.9,5.2,4.6,...,47500,15890,67413,13719,(X),(X),(X),(X),36.7,(X)
4,1400000US08031000302,"Census Tract 3.02, Denver County, Colorado",2131,89,0.9,1.4,1.7,2,2.8,2.6,...,74932,12184,131447,47643,(X),(X),(X),(X),28,(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1400000US08031015500,"Census Tract 155, Denver County, Colorado",1843,84,5,3.4,2.2,1.9,7.2,4,...,44189,7829,57082,6576,(X),(X),(X),(X),28,(X)
140,1400000US08031015600,"Census Tract 156, Denver County, Colorado",2407,120,17.9,6.7,5,3.3,7.8,5.6,...,26444,24648,42438,16864,(X),(X),(X),(X),30.1,(X)
141,1400000US08031015700,"Census Tract 157, Denver County, Colorado",2187,120,12.3,5.3,7.5,5.3,9.1,5.8,...,38030,19530,43071,11575,(X),(X),(X),(X),17.4,(X)
142,1400000US08031980000,"Census Tract 9800, Denver County, Colorado",636,41,0,5,7.1,6.1,9.4,6.5,...,41818,5094,47054,7155,(X),(X),(X),(X),31.6,(X)
143,1400000US08031980100,"Census Tract 9801, Denver County, Colorado",0,12,-,**,-,**,-,**,...,-,**,-,**,(X),(X),(X),(X),-,(X)

In [12]:
# Keep columns: income less than 50K
income_df50  = income_df.filter(['GEO_ID','Households!!Estimate!!Total','Estimate!!Households!!Total!!Less than $10,000','Estimate!!Households!!Total!!$10,000 to $14,999','Estimate!!Households!!Total!!$15,000 to $24,999','Estimate!!Households!!Total!!$25,000 to $34,999','Estimate!!Households!!Total!!$35,000 to $49,999'])
income_df50

,GEO_ID,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999"
0,1400000US08031000102,5.6,2.7,8.4,10.6,4.6
1,1400000US08031000201,4.6,9.4,10.4,6.7,15.9
2,1400000US08031000202,17.9,4.7,5.1,11.7,6.8
3,1400000US08031000301,9.3,2.1,5.2,7,12.3
4,1400000US08031000302,0.9,1.7,2.8,6.7,10.5
...,...,...,...,...,...,...
139,1400000US08031015500,5,2.2,7.2,18.3,15.1
140,1400000US08031015600,17.9,5,7.8,10.1,16.4
141,1400000US08031015700,12.3,7.5,9.1,9.8,16.6
142,1400000US08031980000,0,7.1,9.4,6.9,18.4
143,1400000US08031980100,-,-,-,-,-

In [13]:
# Keep columns: income greater than 50K, less than 75K
income_df75  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$50,000 to $74,999'])
income_df75

                   GEO_ID Estimate!!Households!!Total!!$50,000 to $74,999
0    1400000US08031000102                                            11.7
1    1400000US08031000201                                              18
2    1400000US08031000202                                            15.5
3    1400000US08031000301                                              15
4    1400000US08031000302                                            17.8
..                    ...                                             ...
139  1400000US08031015500                                            21.8
140  1400000US08031015600                                            19.1
141  1400000US08031015700                                            18.2
142  1400000US08031980000                                            29.6
143  1400000US08031980100                                               -

[144 rows x 2 columns]

In [14]:
# Keep columns: income greater than 75K, less than 100K
income_df_greaterthan75  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$75,000 to $99,999',])
income_df_greaterthan75

                   GEO_ID Estimate!!Households!!Total!!$75,000 to $99,999
0    1400000US08031000102                                              10
1    1400000US08031000201                                            12.4
2    1400000US08031000202                                            13.2
3    1400000US08031000301                                            10.8
4    1400000US08031000302                                            14.9
..                    ...                                             ...
139  1400000US08031015500                                            18.2
140  1400000US08031015600                                             7.6
141  1400000US08031015700                                             4.9
142  1400000US08031980000                                            15.3
143  1400000US08031980100                                               -

[144 rows x 2 columns]

In [15]:
# Keep columns: income greater than 100K, less than 150K
income_df_greaterthan100  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$100,000 to $149,999'])
income_df_greaterthan100

                   GEO_ID Estimate!!Households!!Total!!$100,000 to $149,999
0    1400000US08031000102                                              18.5
1    1400000US08031000201                                              16.3
2    1400000US08031000202                                              17.2
3    1400000US08031000301                                              14.6
4    1400000US08031000302                                                17
..                    ...                                               ...
139  1400000US08031015500                                               8.6
140  1400000US08031015600                                              10.5
141  1400000US08031015700                                              12.8
142  1400000US08031980000                                              11.9
143  1400000US08031980100                                                 -

[144 rows x 2 columns]

In [16]:
# Keep columns: income greater than 150K, less than 200K
income_df_greaterthan150  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$150,000 to $199,999'])
income_df_greaterthan150

                   GEO_ID Estimate!!Households!!Total!!$150,000 to $199,999
0    1400000US08031000102                                              12.7
1    1400000US08031000201                                               2.5
2    1400000US08031000202                                               3.5
3    1400000US08031000301                                              13.9
4    1400000US08031000302                                              12.5
..                    ...                                               ...
139  1400000US08031015500                                               2.2
140  1400000US08031015600                                               2.5
141  1400000US08031015700                                               7.2
142  1400000US08031980000                                                 0
143  1400000US08031980100                                                 -

[144 rows x 2 columns]

In [17]:
# Keep columns: income greater than 200K
income_df_greaterthan200  = income_df.filter(['GEO_ID','Estimate!!Households!!Total!!$200,000 or more'])
income_df_greaterthan200

                   GEO_ID Estimate!!Households!!Total!!$200,000 or more
0    1400000US08031000102                                          15.1
1    1400000US08031000201                                           3.6
2    1400000US08031000202                                           4.4
3    1400000US08031000301                                           9.8
4    1400000US08031000302                                          15.3
..                    ...                                           ...
139  1400000US08031015500                                           1.3
140  1400000US08031015600                                           3.1
141  1400000US08031015700                                           1.6
142  1400000US08031980000                                           1.4
143  1400000US08031980100                                             -

[144 rows x 2 columns]

In [18]:
# Keep columns: Household Median and Mean income and percent allocated
MedMean_df  = income_df.filter(['GEO_ID', 'Estimate!!Households!!Median income (dollars)','Estimate!!Households!!Mean income (dollars)','Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months'])
MedMean_df

,GEO_ID,Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars),Estimate!!Households!!PERCENT ALLOCATED!!Household income in the past 12 months
0,1400000US08031000102,87798,110975,38.7
1,1400000US08031000201,55541,71556,34.6
2,1400000US08031000202,57181,71824,28.2
3,1400000US08031000301,72173,98274,34.4
4,1400000US08031000302,94661,135137,27.1
...,...,...,...,...
139,1400000US08031015500,52057,62033,28.3
140,1400000US08031015600,44816,60435,35.5
141,1400000US08031015700,46959,61974,31
142,1400000US08031980000,54592,59537,25.6
143,1400000US08031980100,-,-,-

In [11]:
# Export the CSV
income_df.to_csv('income_2018.csv', index = False)